// Page Cover
.page-cover {
  min-height: 75vh;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-up(sm) {
    min-height: 60vh;
  }
}
