/*
 * Header layout
 * Mostly for everything is header.php
 */

html {
  &.show-nav {
    .layout__header {
      z-index: 9901 !important;

      &::before {
        background-color: transparent;
      }
    }
  }
}

.layout__header {

  .navbar,
  .nav-menu--main,
  .site-search {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .navbar {
    margin: 0;
    &-brand {
      height: auto;

      .logo {}

      .text {
        display: none;
      }
    }

    .icon-bar {}
  }

  .nav-menu--main {
    .navbar-nav {}

    .current-menu-ancestor,
    .current-menu-item {}
  }

  .navbar-toggler {
    padding: 0;
    $menu-size: 28px;

    .hamburger {
      padding: 0;
    }

    .hamburger-box {
      width: $menu-size;
    }

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      width: $menu-size;
      height: 3px;
      background-color: $link-color;
    }
  }

  .site-search {}

  @include media-breakpoint-up(sm) {
    // @media (min-width: $sm) styles
  }
}
