/*
 * Main layout
 * For global styles
 */


html {}

body {
  font-size: $base-font-size;
  color: $base-color;
  background-color: $bg-color;
}

a {
  color: $link-color;
}

h1 {}

h2 {}

h3 {}

// Color palette - text and background
$color-palette: ('text': $text-color,
  'heading': $heading-color,
  'primary': $primary,
  'primary-dark': $primary-dark,
  'primary-light': $primary-light,
  'secondary': $secondary,
  'secondary-dark': $secondary-dark,
  'secondary-light': $secondary-light,
  'accent': $accent,
  'accent-dark': $accent-dark,
  'accent-light': $accent-light);

@each $name,
$value in $color-palette {
  .color--#{$name} {
    color: $value !important;
  }

  .bg--#{$name} {
    background-color: $value !important;
  }
}

// WordPress Customization
#wpadminbar {
  position: fixed !important;
}

.layout__site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

body.admin-bar {
  .layout__site-wrapper {
    min-height: calc(100vh - #{$wp-admin-bar});
  }

  @include media-breakpoint-up(sm) {
    .layout__site-wrapper {
      min-height: calc(100vh - #{$wp-admin-bar});
    }
  }
}

#layout__content {
  flex: 1;
}
