// Variables
:root {
  --base-font-size: 14px;
 
  --menu-size: 28px;

  // Colors
  --body-bg-color: #fff;
  --body-color: #212121;
  --heading-color: #333333;
  --link-color: #f44336;
  --color-primary: #455A64;
  --color-primary-dark: #263238;
  --color-primary-light: $primary;
  --color-secondary: #7e57c2;
  --color-secondary-dark: #311b92;
  --color-secondary-light: $secondary;
  --color-accent: #f44336;
  --color-accent-dark: #b71c1c;
  --color-accent-light: $accent;

  // Transitions
  --transition-duration: .25s;
  --transition-duration-fast: .125s;
  --transition-duration-slow: .4s;

  // Padding
  --padding: 1rem;

  // WordPress
  --wp-admin-bar: 32px;
  --wp-admin-bar-xs: 46px;

  // Breakpoints
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

